<!DOCTYPE html>
<html lang="en">
<head>
	<title>Memory Game</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="stylesheets/memory.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<% include ./partials/nav %>
<h1>Animal Memory Game</h1>

<section class="memory-game">
	<div class="memory-card" data-animal="bear">
		<img class="front-face" src="img/memory/bear_with_tree-4714.svg" alt="Bear"/>
		<img class="back-face" src="img/memory/2009-Spring_Elements_with_Monogram_Frame.svg" alt="Card"/>
	</div>
	<div class="memory-card" data-animal="cat">
		<img class="front-face" src="img/memory/St_patricks_cat_5738.svg" alt="Cat"/>
		<img class="back-face" src="img/memory/2009-Spring_Elements_with_Monogram_Frame.svg" alt="Card"/>
	</div>
	<div class="memory-card" data-animal="lion" >
		<img class="front-face"src="img/memory/Cute_little_lion_5344.svg" alt="Lion"/>
		<img class="back-face" src="img/memory/2009-Spring_Elements_with_Monogram_Frame.svg" alt="Card"/>
	</div>
	<div class="memory-card" data-animal="monkey">
		<img class="front-face" src="img/memory/Cute_little_monkeys_5425.svg" alt="Monkey"/>
		<img class="back-face" src="img/memory/2009-Spring_Elements_with_Monogram_Frame.svg" alt="Card"/>
	</div>	
	<div class="memory-card" data-animal="dog">
		<img class="front-face" src="img/memory/dogs-5168.svg" alt="Dog"/>
		<img class="back-face" src="img/memory/2009-Spring_Elements_with_Monogram_Frame.svg" alt="Card"/>
	</div>
	<div class="memory-card" data-animal="horse">
		<img class="front-face" src="img/memory/horse-4916.svg" alt="Horse"/>
		<img class="back-face" src="img/memory/2009-Spring_Elements_with_Monogram_Frame.svg" alt="Card"/>
	</div>
	<div class="memory-card" data-animal="bear">
		<img class="front-face" src="img/memory/bear_with_tree-4714.svg" alt="Bear"/>
		<img class="back-face" src="img/memory/2009-Spring_Elements_with_Monogram_Frame.svg" alt="Card"/>
	</div>
	<div class="memory-card" data-animal="cat">
		<img class="front-face" src="img/memory/St_patricks_cat_5738.svg" alt="Cat"/>
		<img class="back-face" src="img/memory/2009-Spring_Elements_with_Monogram_Frame.svg" alt="Card"/>
	</div>
	<div class="memory-card" data-animal="lion">
		<img class="front-face" src="img/memory/Cute_little_lion_5344.svg" alt="Lion"/>
		<img class="back-face" src="img/memory/2009-Spring_Elements_with_Monogram_Frame.svg" alt="Card"/>
	</div>
	<div class="memory-card" data-animal="monkey">
		<img class="front-face" src="img/memory/Cute_little_monkeys_5425.svg" alt="Monkey"/>
		<img class="back-face" src="img/memory/2009-Spring_Elements_with_Monogram_Frame.svg" alt="Card"/>
	</div>	
	<div class="memory-card" data-animal="dog">
		<img class="front-face" src="img/memory/dogs-5168.svg" alt="Dog"/>
		<img class="back-face" src="img/memory/2009-Spring_Elements_with_Monogram_Frame.svg" alt="Card"/>
	</div>
	<div class="memory-card" data-animal="horse">
		<img class="front-face" src="img/memory/horse-4916.svg" alt="Horse"/>
		<img class="back-face" src="img/memory/2009-Spring_Elements_with_Monogram_Frame.svg" alt="Card"/>
	</div>
</section>

<script type="text/javascript" src="js/memory.js"></script>
<% include ./partials/footer %>