html{
	margin: 0;
}
body {
	margin: 10%;
	background: #303030;
	color: #f3f3f3;
	text-align: center;

}
footer {
	background-color: black;
	color: white;
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	margin: 0;

}
h1 {
	font-size: 2rem;
}

h2 {
	color: lime;
}

.container {
	text-align: justify;

}